@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap";

@import './variables/colors';
@import './cards/cena';

* {
  font-family: 'Lato', sans-serif !important;
  color: $white;
}
// oraganizar
body {
  margin: 0;
  background-color: $black;
}

button {
  color: $yellow !important;
  font-weight: 700;
  &.reverse {
    color: $black !important;
    font-weight: 700;
  }
}

.login-area {
  margin-top: 200px;
}

a {
  color: $yellow !important;
  font-weight: 700;
}

.title-sec {
  text-align: center;
  position: relative;
  max-width: 65px;
  margin: auto;
  display: block;
  svg {
    position: absolute;
    bottom: 0;
    left: -100%;
  }
  margin-bottom: 10px;
}

.sec {
  margin-bottom: 50px;
}
